 /* General Styles */
 body {
  font-family: 'Arial', sans-serif;
  background-color: #1E1E2F;
  color: #EAEAEA;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Container */
.partners-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.partners-heading {
  font-size: 2.5em;
  color: #FF6B6B;
  margin:20px 0;
}

/* Description */
.partners-description {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #CCC;
}


/* Partner Cards */
.partner-card {
  width: 350px;
  height: 200px;
  background-color: #3A3A48;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;

}

.partner-card img {
  width: 250px;
  height: 140px;
  object-position: center;
}

.partner-card p {
  height: 50px;
  color: #FFD166;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover Effect */
.partner-card:hover {
  transform: scale(1.03);
  background-color: #444459;
}